@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --bright-blue: hsl(220, 98%, 61%);
  --bright-green: hsl(192, 100%, 67%);
  --purple-pink: hsl(280, 87%, 65%);

  /* dark-theme */
  --img-bg: url("../images/bg-desktop-dark.jpg");
  --body-bg: hsl(235, 21%, 11%);
  --text-color: #c8cae1;
  --card-bg: hsl(235, 24%, 19%);
  --placeholder-color: hsl(233, 14%, 35%);

  /* other */
  --box-shadow: hsl(0, 0%, 0%, 0.1);
  --fw-normal: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: var(--fw-normal);
  font-family: "Josefin Sans", sans-serif;

  min-height: 100vh;
  margin: auto;
  padding-top: 5rem;
  width: min(85%, 30rem);

  background-color: var(--body-bg);
  background-image: var(--img-bg);
  background-repeat: no-repeat;
  background-size: 100vw 42vh;

  color: var(--text-color);
}

body * {
  transition: 0.3s;
}
